<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DiscordBotApp.Properties.Settings.Small_NewWordsConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\VBOXSVR\BIT694_MonoDev_Apps\Database_files\Small_NewWords.mdb"
            providerName="System.Data.OleDb" />
        <add name="DiscordBotApp.Properties.Settings.Small_NewWordsConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Small_NewWords.mdb"
            providerName="System.Data.OleDb" />
        <add name="DiscordBotApp.Properties.Settings.NewWordsConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\NewWords.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>